<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="website varela-round-regular">
      <div class="navigation lilita-one-regular">
        <a href="landing"><h3>CronosTask</h3></a>
        <div class="nav-item">
          <a class="login" href="/login">Login</a>
          <a class="signup" href="/signup">Signup</a>
        </div>
      </div>
      <div class="main-container">
        <h2>Landing page</h2>
      </div>
    </div>

    <script src="" async defer></script>
  </body>
</html>
