<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="website">
      <div class="navigation lilita-one-regular">
        <div>
          <div>
            <a href="/">CronosTask</a>
          </div>
        </div>
      </div>
      <div class="main-container-login">
        <form class="login-form" action="">
          <h4>Reset Password</h4>
          <div>
            <label for="email">Email</label>
            <input type="email" name="email" required />
          </div>
          <div class="email error"></div>
          <div>
            <label for="password">Password</label>
            <input type="password" name="password" required />
          </div>
          <div>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" required />
          </div>
          <div class="password error"></div>
          <button type="submit" class="reset-btn">Reset</button>
        </form>
        <div class="needaccount">
          <p>Need an account, <a href="signup">Create one</a></p>
        </div>
      </div>
    </div>
    <script>
      const form = document.querySelector("form");
      let emailError = document.querySelector(".email.error");
      let passwordError = document.querySelector(".password.error");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const email = form.email.value;
        const password = form.password.value;
        const confirmPassword = form.confirmPassword.value;

        // Check if password and confirmPassword match
        if (password == confirmPassword) {
          const response = await fetch("/passwordreset", {
            method: "POST",
            body: JSON.stringify({
              email: email,
              password: password,
              confirmPassword: confirmPassword,
            }),
            headers: { "Content-Type": "application/json" },
          });

          if (!response.ok) {
            console.log("Server error");
          }

          const data = await response.json();

          if (!data.error) {
            //clear error elements
            emailError.innerHTML = "";
            passwordError.innerHTML = "";

            location.assign("/");
          }

          emailError.style.display = "block";
          emailError.innerHTML = data.error;
          passwordError.innerHTML = "";
        } else {
          passwordError.style.display = "block";
          passwordError.innerHTML = "Passwords do not match";
          emailError.innerHTML = "";
        }
      });
    </script>
    <script src="" async defer></script>
  </body>
</html>
