.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 16px;
}

.website {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgb(146, 189, 230);
  height: 6vh;
}

.navigation > div {
  margin: 0 2vw;
}

.navigation div:first-of-type {
  display: flex;
  gap: 2vw;
  align-items: center;
  justify-items: center;
}

.search-container input {
  display: flex;
  margin: 0;
  padding: 5px;
  border: none;
  outline: none;
  text-align: center;
}

.navigation div:last-of-type {
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-items: center;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.signup {
  border: white;
  padding: 1vh 1vw;
  border-radius: 10px;
  background-color: rgb(146, 189, 230);
  font-size: 1.1rem;
  font-weight: bold;
}

.navigation.login {
  border: none;
  justify-content: left;
  font-size: 1.5rem;
}

.main-container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 5vh auto 0 auto;
  padding: 1vh 1vw;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(189, 189, 189);
  height: max-content;
  gap: 1vh;
}

.login-form > h4 {
  margin: 0 0 1vh 0;
  padding: 0;
  font-size: 1.4rem;
  color: rgb(10, 10, 195);
  align-self: left;
}

.login-form > div {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.login-form > button {
  margin: 1vh auto;
  padding: 0.5vh 1vw;
  font-size: 0.8rem;
  border: white;
  border-radius: 10px;
  width: auto;
  height: auto;
  background-color: rgb(125, 179, 230);
  font-size: 1.1rem;
  font-weight: bold;
}

.login-form > button:hover {
  outline: rgb(74, 130, 165) solid 2px;
}

.login-form > div > input {
  width: 15vw;
  height: 2vh;
  padding: 8px 20px;
  border-radius: 5px;
  border: solid 1px rgb(157, 157, 157);
  outline: none;
  box-shadow: 1px 1px rgb(189, 189, 189);
  font-size: 1rem;
}

#error-message {
  color: red;
}

.email.error,
.password.error {
  display: none;
  margin: 0;
  padding: 0;
  color: red;
  font-size: 0.8rem;
}

.needaccount {
  align-self: center;
  margin: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 2fr 6fr;
  margin: 2vh 0;
}

.main-container > div {
  border-right: black 1px solid;
  margin: 0 1vw;
}

.add-task {
  margin: 0;
}

.add-task > form > input {
  padding: 10px;
  width: 50%;
  border: none;
  background-color: rgb(237, 237, 237);
  text-align: start;
  outline: none;
}

.add-task > input:hover {
  background-color: rgb(188, 188, 188);
}

.display-task {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
  margin-top: 0;
}

.task {
  background-color: rgb(223, 223, 223);
  padding: 10px;
  margin: 2vh 0;
}

.category {
  background-color: white;
}

.task-state {
  display: flex;
  flex-direction: row;
  justify-items: end;
  gap: 1vw;
  padding: 0;
  font-size: 14px;
  margin-bottom: 1vh;
}

.task-actions {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  padding: 0;
  font-size: 12px;
}

.task-details {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2vh;
}
